* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.booklist {
  width: 90vw;
  max-width: 1170rem;
  margin: 5rem auto;
  border-radius: 3rem;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem auto;
  text-align: center;
}

.book img {
  width: 100%;
  object-fit: cover;
  border-radius: 3rem;
}

.book h2 {
  margin-top: 1rem;
  font-size: 3rem;
  font-style: italic;
}

.book h4 {
  margin-top: 1rem;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.but {
  width: 50vw;
  display: grid;
  margin: 7rem auto;
  height: 10rem;
}

.but button {
  margin: 2rem auto;
  width: 30%;
  height: 100%;
  border-radius: 3rem;
  font-size: 3rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding: 2rem;
  background: rgb(43, 41, 45);
  color: white;
}

.but button:hover {
  background: rgb(43, 41, 45, 0.5);
  color: black;
}

.txt1 {
  margin: "1rem 0";
}
